/.idea/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/Projekt
/cmake-build-debug/Projekt.cbp
/cmake-build-debug/Projekt_run
/cmake-build-debug/Projekt_run.cbp
/cmake-build-debug/Testing
/cmake-build-debug/Doctest_tests/CMakeFiles
/cmake-build-debug/Doctest_tests/cmake_install.cmake
/cmake-build-debug/Doctest_tests/Doctest_tests_run
/cmake-build-debug/Doctest_tests/Makefile